body{
    background-image: url("https://picsum.photos/id/106/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#header, .nav, #hero, #cta {
    color: white;
}

#header{
    background-color: #313E50;
    height: 60px;
}

#hero{
 
    font: size 22px;
}
#hero > h1{
    font-size: 75px;
}
#cta{
    background-color: #F1BF98;
}

#cta:hover{
    color: #F1BF98
    background-color: white
}

#products{
    background-color: #313E50;
}

.card{
    background-color: white;
    width: fit-content;
    
}