body{
    background-image: url("https://picsum.photos/id/106/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#header{
    background-color: #313E50;
    color: white;
    height: 60px;
}
.nav > a{
    color: white;
}
#hero{
    color: white;
    font: size 22px;
}
#hero > h1{
    font-size: 75px;
}
#cta{
    background-color: #F1BF98;
    color: white;
    text-decoration: none;
}